@import 'var';
html {
  scroll-behavior: smooth;
}
.am-scroll {
  &-wrapper {
    position: relative;
    overflow: hidden;
    border: 1px solid red;
  }
  &-inner {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-pulling-up,
  &-pulling-down{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    right: 0;
  }
  &-pulling-down{
    top:0;
    background: hotpink;
  }
  &-pulling-up{
    bottom:0;
    background: pink;
  }
  &-track{
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
  }
  &-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    background: rgba(128,128,128,.8);
    border-radius: 3px;
  }
}
