@import 'var';

.am-checkbox-wrapper {
  padding-left: 1.5em;
}

#{component(treeItem)} {
  line-height: 1.5;
  border: 1px solid;

  &-text {
    display: block;
    position: relative;

    &:hover {
      background: #d0d0d0;
    }
  }

  &-children {
    overflow: hidden;
    transition: height .2s;
  }

  &-collapsed {}

  &-gone {
    height: 0;
  }

  &-expand {
    margin-right: .5em;
    position: absolute;
    left: 0;
    top: 0;

    &-icon {
      transform: rotate(90deg);
      transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &-collapsed {
    #{component(treeItem)} {
      &-expand-icon {
        transform: rotate(0deg);
      }
    }
  }

  //&-leave-1 {
  //  padding-left: 0;
  //}
  //
  //&-leave-2, &-leave-3 {
  //  padding-left: 1em;
  //}
}
