@import 'var';

#{component(tree)} {
  &-item {
    line-height: 1.5;
    outline: 1px solid;
  }
  &-text {
    display: block;
    &:hover {
      background: yellow;
    }
  }
  &-leave-1 {
    padding-left: 0;
  }
  &-leave-2, &-leave-3 {
    padding-left: 1em;
  }
}