@import 'var';

#{component(treeItem)} {
  line-height: 1.5;
  border: 1px solid;
  &-text {
    display: block;
    &:hover {
      background: yellow;
    }
  }
  &-children {
    overflow: hidden;
    transition: height .2s;
  }
  &-collapsed{}
  &-gone {
    height: 0;
  }
  &-expand {
    display: inline-block;
    background: red;
    width: 200px;
  }
  &-leave-1 {
    padding-left: 0;
  }
  &-leave-2, &-leave-3 {
    padding-left: 1em;
  }
}