@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-skeleton-block {
  width: 100%;
  margin-top: 16px;
  border-radius: 4px;
  background: rgba(190, 190, 190, 0.2); }

.am-skeleton-loading {
  background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite; }

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

