@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-input, .am-input-inputAndError .am-input-add-on-before, .am-input-inputAndError .am-input-add-on-after {
  padding: 4px 8px; }

.am-input {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #666666;
  border-radius: 4px;
  transition: all 0.3s; }
  .am-input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .am-input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .am-input:hover {
    border-color: #999; }
  .am-input:focus {
    outline: none;
    border-color: #666;
    box-shadow: inset 0 1px 2px rgba(0, 15, 26, 0.3); }
  .am-input:disabled {
    background: #d5d5d5;
    color: #666;
    cursor: not-allowed; }
  .am-input-label {
    height: 32px;
    line-height: 32px; }
  .am-input-small .am-input, .am-input-small .am-input-add-on-before, .am-input-small .am-input-add-on-after, .am-input-small .am-input-label {
    font-size: 12px;
    height: 24px;
    line-height: 24px; }
  .am-input-big .am-input, .am-input-big .am-input-add-on-before, .am-input-big .am-input-add-on-after, .am-input-big .am-input-label {
    height: 48px;
    line-height: 48px;
    font-size: 20px; }
  .am-input-wrapper {
    display: flex; }
  .am-input-label-top {
    flex-direction: column; }
    .am-input-label-top .am-input-label {
      margin-bottom: 8px; }
  .am-input-label-left {
    flex-direction: row; }
    .am-input-label-left .am-input-label {
      margin-right: 8px; }
  .am-input-inputAndError {
    flex: 1; }
    .am-input-inputAndError .am-input-error {
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      color: #f1453d; }
      .am-input-inputAndError .am-input-error-bottom {
        width: 100%;
        display: block; }
      .am-input-inputAndError .am-input-error-right {
        margin-left: 0.5em; }
    .am-input-inputAndError .am-input-content {
      display: inline-block;
      vertical-align: top; }
    .am-input-inputAndError .am-input-add-on-before, .am-input-inputAndError .am-input-add-on-after {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: top;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      background-color: #fff;
      border: 1px solid #666666; }
    .am-input-inputAndError .am-input-add-on-before {
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .am-input-inputAndError .am-input-add-on-after {
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
  .am-input-before-or-after {
    position: relative; }
    .am-input-before-or-after .am-input {
      border-radius: 4px; }
      .am-input-before-or-after .am-input:not(:first-child) {
        padding-left: 30px; }
      .am-input-before-or-after .am-input:not(:last-child) {
        padding-right: 30px; }
      .am-input-before-or-after .am-input-before, .am-input-before-or-after .am-input-after {
        position: absolute;
        top: 50%;
        z-index: 2;
        color: #bbb;
        transform: translateY(-50%); }
      .am-input-before-or-after .am-input-before {
        left: 10px; }
      .am-input-before-or-after .am-input-after {
        right: 10px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-button-wrapper {
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  padding: 0 1em;
  border-radius: 4px;
  border: 1px solid #999;
  background: #fff;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative; }
  .am-button-wrapper:disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: #d9d9d9; }
    .am-button-wrapper:disabled:hover {
      border-color: #d9d9d9; }
  .am-button-wrapper:hover {
    border-color: #555; }
  .am-button-wrapper:active {
    background-color: #eee; }
  .am-button-wrapper:focus {
    outline: none; }
  .am-button-wrapper + .am-button-wrapper {
    margin-left: 0.5em; }
  .am-button-wrapper > .ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    opacity: 1; }
    .am-button-wrapper > .ripple.active {
      animation: ripple 0.65s ease-out; }

.am-button-body {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle; }
  .am-button-body.icon-left > .icon-name {
    order: 1;
    margin-right: 0.2em; }
  .am-button-body.icon-left > .am-button-content {
    order: 2; }
  .am-button-body.icon-right > .icon-name {
    order: 2;
    margin-left: 0.2em; }
  .am-button-body.icon-right > .am-button-content {
    order: 1; }
  .am-button-body > .am-button-content {
    line-height: 1em; }

.am-buttonGroup {
  display: inline-flex;
  vertical-align: middle; }
  .am-buttonGroup > .am-button-wrapper {
    border-radius: 0; }
    .am-buttonGroup > .am-button-wrapper:not(:first-child) {
      border-left: none;
      margin-left: 0; }
    .am-buttonGroup > .am-button-wrapper:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .am-buttonGroup > .am-button-wrapper:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .am-buttonGroup > .am-button-wrapper:hover {
      position: relative;
      z-index: 1; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-form-item {
  margin-bottom: 28px;
  font-size: 16px; }

.am-form-item-label-require {
  position: relative; }
  .am-form-item-label-require:before {
    display: inline-block;
    margin-right: 4px;
    color: #f1453d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*'; }

.am-form-item-error {
  color: #f1453d;
  font-size: 0.8em; }

.am-form-vertical {
  position: relative; }
  .am-form-vertical .am-form-item-error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px; }
  .am-form-vertical .am-form-item-label {
    display: block;
    margin-bottom: 4px; }

.am-form-horizontal .am-form-item-error {
  text-align: left;
  line-height: 28px;
  height: 28px; }

.am-form-horizontal .am-form-item-label {
  padding-right: 8px;
  text-align: right; }

.am-form-horizontal .am-form-item-field {
  text-align: left; }

.am-form-inline .am-form-item + .am-form-item {
  margin-left: 16px; }

.am-form-inline .am-form-item,
.am-form-inline .am-form-item-label,
.am-form-inline .am-form-item-input-error,
.am-form-inline .am-input-wrapper {
  display: inline-block;
  vertical-align: middle; }

.am-form-inline .am-form-item-label {
  padding-right: 8px; }

.am-form-inline .am-form-item-input-error {
  position: relative; }
  .am-form-inline .am-form-item-input-error .am-form-item-error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-radio {
  border: none;
  outline: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }
  .am-radio-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer; }
    .am-radio-wrapper + .am-radio-wrapper {
      margin-left: 1em; }
  .am-radio-input {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 50%; }
    .am-radio-input:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .am-radio-checked .am-radio-input:before {
    background: #6f6f6f; }
  .am-radio-indeterminate:before {
    border: 1px solid #999;
    background: none; }
  .am-radio-disabled {
    cursor: not-allowed;
    opacity: 0.48; }
  .am-radio-label {
    margin-left: 0.5em; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-switch {
  display: inline-flex;
  vertical-align: middle;
  width: 40px;
  height: 14px;
  border-radius: 8px;
  background: rgba(51, 51, 51, 0.14);
  cursor: pointer;
  position: relative;
  transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .am-switch-active {
    background: rgba(33, 150, 243, 0.6); }
  .am-switch-disabled {
    opacity: 0.45; }
  .am-switch-core {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background: #fff;
    transform: translateX(0%);
    transition: all 0.2s linear; }
    .am-switch-core.active {
      background: #40a9ff;
      transform: translateX(100%); }
    .am-switch-core .am-switch-ripple {
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: scale(0);
      pointer-events: none;
      opacity: 1;
      background: inherit; }
      .am-switch-core .am-switch-ripple.active {
        animation: ripple 0.65s ease-out; }

