@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  text-decoration: none;
  color: black; }

body {
  overflow-x: hidden;
  color: #314659;
  font-size: 16px;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1); }

.site-doc-wrapper {
  min-height: 100vh; }

.site-doc-header {
  display: flex;
  padding: 4px 48px;
  align-items: center;
  background: #fdf9f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  position: relative; }

.site-doc-logo-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #333; }
  .site-doc-logo-github .logo {
    height: 75px; }

.site-doc-body {
  margin: 24px auto;
  max-width: 1280px;
  min-height: calc(100vh - 184px);
  display: flex; }

.site-doc-aside {
  min-width: 15em;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #bababa; }
  .site-doc-aside h2 {
    margin: 0.5em 0 0.2em;
    padding-left: 0.5em;
    color: rgba(0, 0, 0, 0.45);
    font-size: 18px; }
  .site-doc-aside > ol {
    flex-shrink: 0; }
    .site-doc-aside > ol li {
      line-height: 40px;
      font-size: 14px;
      color: #314659; }
      .site-doc-aside > ol li a {
        display: block;
        padding-left: 1.5em;
        color: #314659; }
        .site-doc-aside > ol li a.active {
          background: #cfd7ff; }
        .site-doc-aside > ol li a:hover {
          color: #1890ff; }

.site-doc-main {
  margin-left: 20px;
  flex: 1; }
  .site-doc-main h2 {
    margin: 1em 0; }
  .site-doc-main h3 {
    font-size: 18px;
    padding: 10px 0; }

.site-doc-footer {
  line-height: 50px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5; }
  .site-doc-footer a {
    color: #1890ff; }

@media (max-width: 750px) {
  .site-doc-header {
    padding: 10px; }
    .site-doc-header img {
      display: none; }
  .site-doc-body {
    margin: 24px 8px;
    flex-direction: column;
    min-height: calc(100vh - 145px); }
  .site-doc-menu-icon .menu-icon-line {
    position: relative;
    display: block;
    margin: 10px 0; }
    .site-doc-menu-icon .menu-icon-line, .site-doc-menu-icon .menu-icon-line:before, .site-doc-menu-icon .menu-icon-line:after {
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: #0a0a0a; }
    .site-doc-menu-icon .menu-icon-line:before, .site-doc-menu-icon .menu-icon-line:after {
      content: '';
      position: absolute; }
    .site-doc-menu-icon .menu-icon-line:before {
      top: -6px; }
    .site-doc-menu-icon .menu-icon-line:after {
      top: 6px; }
  .site-doc-logo-github {
    margin-left: 10px; }
  .site-doc-aside-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate3D(-100%, 0, 0);
    z-index: 9999;
    transition: transform 0.3s; }
    .site-doc-aside-wrapper.active {
      transform: translate3D(0, 0, 0); }
  .site-doc-aside {
    width: 280px;
    background: #fff;
    position: relative;
    z-index: 5;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0;
    height: 100%;
    overflow-y: scroll; }
  .site-doc-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    background: rgba(0, 0, 0, 0.5); }
  .site-doc-main {
    margin-left: 0; } }

.exp-section {
  padding: 10px 20px 0;
  border-radius: 4px;
  background: white;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 0px #bababa;
  overflow-x: auto; }
  .exp-section p {
    padding-bottom: 10px; }
  .exp-section + .exp-section {
    margin-top: 20px;
    font-size: 15px; }

.exp-section-btn {
  background: #66e2d5;
  border-color: #000;
  color: #000; }
  .exp-section-btn:hover {
    border-color: #000;
    background: rgba(102, 226, 213, 0.9); }

.exp-section .custom {
  color: #e10050;
  border: 1px solid rgba(225, 0, 80, 0.5); }
  .exp-section .custom .ripple {
    background: #e10050; }

.exp-section .custom-desk {
  border: none; }
  .exp-section .custom-desk .am-collapse-item {
    background: #f7f7f7;
    margin-bottom: 20px; }
    .exp-section .custom-desk .am-collapse-item-name {
      border: none;
      padding-left: 10px;
      color: #66e2d5; }
  .exp-section .custom-desk .am-collapse-item-content {
    background: #f7f7f7; }
    .exp-section .custom-desk .am-collapse-item-content .content-inner {
      padding-left: 26px;
      font-size: 18px; }

.exp-section .custom-grid .am-row {
  font-size: 16px;
  color: #fff;
  text-align: center; }
  .exp-section .custom-grid .am-row > div:not(.am-col-row-gutter) {
    background: rgba(78, 87, 239, 0.8);
    padding: 16px 0; }
    .exp-section .custom-grid .am-row > div:not(.am-col-row-gutter):nth-child(2n + 1) {
      background: #cfd7ff; }
  .exp-section .custom-grid .am-row + .am-row {
    margin-top: 14px; }
  .exp-section .custom-grid .am-row > .am-col-gutter > div {
    background: rgba(78, 87, 239, 0.8);
    padding: 16px 0; }

.exp-section .custom-layout {
  height: 400px;
  font-size: 16px;
  color: #fff;
  text-align: center; }
  .exp-section .custom-layout .am-header,
  .exp-section .custom-layout .am-footer {
    padding: 16px 0;
    background: #cfd7ff; }
  .exp-section .custom-layout .am-main {
    background: rgba(78, 87, 239, 0.8); }
  .exp-section .custom-layout .am-aside {
    padding: 16px;
    background: #ddd; }

.exp-section .custom-input .am-input-wrapper + .am-input-wrapper {
  margin-top: 14px; }

.exp-section .custom-input-search + .am-input-after {
  background: #66e2d5; }

.exp-box.custom-icon .am-icon {
  font-size: 28px; }

.code-box {
  color: #666;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8; }
  .code-box .code-title {
    display: flex;
    align-items: center;
    color: #1890ff;
    font-size: 16px;
    cursor: pointer; }
  .code-box .am-icon {
    font-size: 30px;
    margin-right: 6px; }

.markdown-content {
  overflow-x: auto; }
  .markdown-content table {
    line-height: 1.5;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    border-spacing: 0; }
    .markdown-content table th, .markdown-content table td {
      text-align: left;
      padding: 12px;
      color: #5c6b77;
      border-bottom: 1px solid #e8e8e8; }
    .markdown-content table th {
      padding-top: 14px;
      border-width: 0 0 2px 0;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02); }
    .markdown-content table tbody tr {
      transition: all .3s; }
      .markdown-content table tbody tr:hover {
        background: rgba(60, 90, 100, 0.04); }
    .markdown-content table tbody td:first-child {
      width: 20%;
      color: #595959;
      font-weight: 600; }
    .markdown-content table tbody td:nth-child(3) {
      width: 22%;
      color: #c41d7f;
      font-size: 13px;
      word-break: break-all; }
    .markdown-content table tbody td:nth-child(4) {
      width: 16%;
      font-size: 13px; }
  .markdown-content p {
    font-size: 16px; }

