@import 'var';
#{component(tabs)} {
  &-wrapper {
    position: relative;
  }
  &-nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    border-bottom: 1px solid #ddd;
    &-line {
      position: absolute;
      bottom: -1px;
      border-bottom: 2px solid #1890ff;
      box-sizing: border-box;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &-vertical {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    #{component(tabs)} {
      &-nav {
        border-bottom: none;
        flex-direction: column;
        border-right: 1px solid #ddd;
      }
      &-nav-item{text-align: right;}
      &-nav-line {
        right: -1px;
        border-right: 2px solid #1890ff;
      }
    }
  }
  &-nav-item {
    padding: 12px 16px;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: $blue;
    }
    & + .am-tabs-item {
      margin-left: 10px;
    }
  }
  &-active {
    color: $darkblue;
    font-weight: 700;
  }
  &-disabled {
    color: #ccc;
    &:hover {
      color: #ccc;
    }
  }
}
#{component(tabPane)} {
  &-pane-item {
    padding: 8px;
    display: none;
  }
  &-active {
    display: block;
  }
}
