@keyframes carousel-f2c {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carousel-c2f {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes carousel-b2c {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes carousel-c2b {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes carousel-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carousel-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@import 'var';
#{component(carousel)} {
  &-wrapper{position: relative;}
  &-view {
    position: relative;
    overflow: hidden;
  }
  &-slide {
    &.am-carousel-forward {
      #{component(carouselitem)} {
        &-current {
          animation: carousel-f2c .4s ease-in-out;
        }
        &-prev {
          animation: carousel-c2b .4s ease-in-out;
        }
      }
    }
    &.am-carousel-backward {
      #{component(carouselitem)} {
        &-current {
          animation: carousel-b2c .4s ease-in-out;
        }
        &-prev {
          animation: carousel-c2f .4s ease-in-out;
        }
      }
    }
  }
  &-fade {
    &.am-carousel-forward, .am-carousel-backward {
      #{component(carouselitem)} {
        &-current {
          animation: carousel-fade-in .4s ease-in-out;
        }
      }
    }
  }
  &-dots {
    position: absolute;
    display: flex;
    z-index: 11;
    .dot {
      &.style-circle {
        width: 10px;
        height: 10px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #fff;
        &.active {
          background: #fff;
        }
      }
      &.style-number {
        width: 18px;
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        &.active {
          background: rgba(0, 0, 0, .3);
        }
      }
    }
    &.position-top {
      width: 100%;
      top: 4%;
      left: 50%;
      justify-content: center;
      transform: translateX(-50%);
      .style-circle, .style-number {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    &.position-left {
      left: 1%;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      .style-circle, .style-number {
        margin-bottom: 8px;
      }
    }
    &.position-right {
      left: 98%;
      top: 50%;
      transform: translateY(-50%);
      flex-direction: column;
      .style-circle, .style-number {
        margin-bottom: 8px;
      }
      .style-number {
        margin-right: 8px;
      }
      &.style-number {
        left: 97.2%;
      }
    }

    &.position-bottom {
      width: 100%;
      left: 50%;
      bottom: 4%;
      justify-content: center;
      transform: translateX(-50%);
      .style-circle, .style-number {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}
#{component(carouselitem)} {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  & > * {
    width: 100%;
    height: 100%;
  }
  &-current {
    z-index: 10;
  }
  &-prev {
    z-index: 9;
  }
}