$color: #333;
$light-color: #666;
$gray: #eee;
$darkblue: #1890ff;
$blue: #40a9ff;
$font-size: 16px;
$button-height: 32px;
$button-fontSize: 14px;
$button-bg: #fff;
$border-radius: 4px;
$border-active-bg: #eee;
$border-color: #999;
$border-color-hover: #555;
$input-font-size: 14px;
$input-border-color: rgba(102, 102, 102, 1);
$input-border-color-hover: #999;
$error-color: #f1453d;
$info-color: #67c23a;
