$color: #333;
$light-color: #666;
$gray: #eee;
$darkblue: #1890ff;
$blue: #40a9ff;
$font-size: 16px;
$button-height: 32px;
$button-fontSize: 14px;
$button-bg: #fff;
$border-radius: 4px;
$border-active-bg: #eee;
$border-color: #999;
$border-color-hover: #555;
$input-font-size: 14px;
$input-border-color: rgba(102, 102, 102, 1);
$input-border-color-hover: #999;
$error-color: #f1453d;
$info-color: #67c23a;

$prefix: 'am';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@mixin spin {
  animation: spin 1.2s infinite linear;
}
@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}
@mixin ripple {
  animation: ripple 0.65s ease-out;
}
@mixin component ($name){
  .#{$prefix}-#{$name}{
    @content;
  }
}

@function component($name,$modifier:null){
  @if $modifier == null {
    @return ".#{$prefix}-#{$name}"  
  }@else{
    @return ".#{$prefix}-#{$name}-#{$modifier}"
  }
}
@function componentWithoutDot($name,$modifier:null){
  @if $modifier == null {
    @return "#{$prefix}-#{$name}"  
  }@else{
    @return "#{$prefix}-#{$name}-#{$modifier}"
  }
}