@import "var";
#{component(row)} {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  &-align-right {
    justify-content: flex-end;
  }
  &-align-center {
    justify-content: center;
  }
  &-align-spaceBetween {
    justify-content: space-between;
  }
  &-align-spaceAround {
    justify-content: space-around;
  }
  &-verticalAlign-center {
    align-items: center
  }
  &-verticalAlign-bottom {
    align-items: flex-end
  }
}
#{component(col)} {
  height: 100%;
  $class-prefix: am-col-offset-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      margin-left: ($n/24) * 100%;
    }
  }
  $class-prefix: am-col-span-;
  @for $n from 1 through 24 {
    &.#{$class-prefix}#{$n} {
      width: ($n/24) * 100%;
    }
  }
  &.am-col-span-0 {
    display: none;
  }
}