@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden; }
  .am-icon-spin {
    animation: spin 1.2s infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-button-wrapper {
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  padding: 0 1em;
  border-radius: 4px;
  border: 1px solid #999;
  background: #fff;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative; }
  .am-button-wrapper:disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: #d9d9d9; }
    .am-button-wrapper:disabled:hover {
      border-color: #d9d9d9; }
  .am-button-wrapper:hover {
    border-color: #555; }
  .am-button-wrapper:active {
    background-color: #eee; }
  .am-button-wrapper:focus {
    outline: none; }
  .am-button-wrapper + .am-button-wrapper {
    margin-left: 0.5em; }
  .am-button-wrapper > .ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    opacity: 1; }
    .am-button-wrapper > .ripple.active {
      animation: ripple 0.65s ease-out; }

.am-button-body {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle; }
  .am-button-body.icon-left > .icon-name {
    order: 1;
    margin-right: 0.2em; }
  .am-button-body.icon-left > .am-button-content {
    order: 2; }
  .am-button-body.icon-right > .icon-name {
    order: 2;
    margin-left: 0.2em; }
  .am-button-body.icon-right > .am-button-content {
    order: 1; }
  .am-button-body > .am-button-content {
    line-height: 1em; }

.am-buttonGroup {
  display: inline-flex;
  vertical-align: middle; }
  .am-buttonGroup > .am-button-wrapper {
    border-radius: 0; }
    .am-buttonGroup > .am-button-wrapper:not(:first-child) {
      border-left: none;
      margin-left: 0; }
    .am-buttonGroup > .am-button-wrapper:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .am-buttonGroup > .am-button-wrapper:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .am-buttonGroup > .am-button-wrapper:hover {
      position: relative;
      z-index: 1; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .am-row-align-right {
    justify-content: flex-end; }
  .am-row-align-center {
    justify-content: center; }
  .am-row-align-spaceBetween {
    justify-content: space-between; }
  .am-row-align-spaceAround {
    justify-content: space-around; }
  .am-row-verticalAlign-center {
    align-items: center; }
  .am-row-verticalAlign-bottom {
    align-items: flex-end; }

.am-col {
  height: 100%; }
  .am-col.am-col-offset-1 {
    margin-left: 4.16667%; }
  .am-col.am-col-offset-2 {
    margin-left: 8.33333%; }
  .am-col.am-col-offset-3 {
    margin-left: 12.5%; }
  .am-col.am-col-offset-4 {
    margin-left: 16.66667%; }
  .am-col.am-col-offset-5 {
    margin-left: 20.83333%; }
  .am-col.am-col-offset-6 {
    margin-left: 25%; }
  .am-col.am-col-offset-7 {
    margin-left: 29.16667%; }
  .am-col.am-col-offset-8 {
    margin-left: 33.33333%; }
  .am-col.am-col-offset-9 {
    margin-left: 37.5%; }
  .am-col.am-col-offset-10 {
    margin-left: 41.66667%; }
  .am-col.am-col-offset-11 {
    margin-left: 45.83333%; }
  .am-col.am-col-offset-12 {
    margin-left: 50%; }
  .am-col.am-col-offset-13 {
    margin-left: 54.16667%; }
  .am-col.am-col-offset-14 {
    margin-left: 58.33333%; }
  .am-col.am-col-offset-15 {
    margin-left: 62.5%; }
  .am-col.am-col-offset-16 {
    margin-left: 66.66667%; }
  .am-col.am-col-offset-17 {
    margin-left: 70.83333%; }
  .am-col.am-col-offset-18 {
    margin-left: 75%; }
  .am-col.am-col-offset-19 {
    margin-left: 79.16667%; }
  .am-col.am-col-offset-20 {
    margin-left: 83.33333%; }
  .am-col.am-col-offset-21 {
    margin-left: 87.5%; }
  .am-col.am-col-offset-22 {
    margin-left: 91.66667%; }
  .am-col.am-col-offset-23 {
    margin-left: 95.83333%; }
  .am-col.am-col-offset-24 {
    margin-left: 100%; }
  .am-col.am-col-span-1 {
    width: 4.16667%; }
  .am-col.am-col-span-2 {
    width: 8.33333%; }
  .am-col.am-col-span-3 {
    width: 12.5%; }
  .am-col.am-col-span-4 {
    width: 16.66667%; }
  .am-col.am-col-span-5 {
    width: 20.83333%; }
  .am-col.am-col-span-6 {
    width: 25%; }
  .am-col.am-col-span-7 {
    width: 29.16667%; }
  .am-col.am-col-span-8 {
    width: 33.33333%; }
  .am-col.am-col-span-9 {
    width: 37.5%; }
  .am-col.am-col-span-10 {
    width: 41.66667%; }
  .am-col.am-col-span-11 {
    width: 45.83333%; }
  .am-col.am-col-span-12 {
    width: 50%; }
  .am-col.am-col-span-13 {
    width: 54.16667%; }
  .am-col.am-col-span-14 {
    width: 58.33333%; }
  .am-col.am-col-span-15 {
    width: 62.5%; }
  .am-col.am-col-span-16 {
    width: 66.66667%; }
  .am-col.am-col-span-17 {
    width: 70.83333%; }
  .am-col.am-col-span-18 {
    width: 75%; }
  .am-col.am-col-span-19 {
    width: 79.16667%; }
  .am-col.am-col-span-20 {
    width: 83.33333%; }
  .am-col.am-col-span-21 {
    width: 87.5%; }
  .am-col.am-col-span-22 {
    width: 91.66667%; }
  .am-col.am-col-span-23 {
    width: 95.83333%; }
  .am-col.am-col-span-24 {
    width: 100%; }
  .am-col.am-col-span-0 {
    display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-layout {
  display: flex;
  flex-direction: column; }
  .am-layout > .am-layout {
    flex-grow: 1; }
  .am-layout-hasAside {
    flex-direction: row; }
    .am-layout-hasAside .am-layout {
      flex-direction: column; }

.am-header {
  flex-grow: 0;
  flex-shrink: 1; }

.am-footer {
  flex-grow: 0;
  flex-shrink: 1; }

.am-main {
  flex: 1; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-controllCount {
  display: flex;
  align-items: center;
  width: 100%; }
  .am-controllCount input, .am-controllCount-btn {
    text-align: center;
    line-height: 30px;
    color: #666;
    background: #ffffff;
    outline: none;
    box-sizing: border-box; }
  .am-controllCount-btn {
    border: 1px solid #ebebeb;
    flex: 0 0 34px;
    width: 32px;
    font-size: 20px;
    cursor: pointer; }
    .am-controllCount-btn:nth-child(1) {
      border-radius: 4px 0 0 4px; }
    .am-controllCount-btn:nth-child(3) {
      border-radius: 0 4px 4px 0; }
  .am-controllCount input {
    flex: 1;
    min-width: 34px;
    color: #333;
    font-size: 16px;
    border: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-appearance: none; }
  .am-controllCount .disabled {
    color: #aaa;
    background: #ebebeb; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-input, .am-input-inputAndError .am-input-add-on-before, .am-input-inputAndError .am-input-add-on-after {
  padding: 4px 8px; }

.am-input {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #666666;
  border-radius: 4px;
  transition: all 0.3s; }
  .am-input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .am-input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .am-input:hover {
    border-color: #999; }
  .am-input:focus {
    outline: none;
    border-color: #666;
    box-shadow: inset 0 1px 2px rgba(0, 15, 26, 0.3); }
  .am-input:disabled {
    background: #d5d5d5;
    color: #666;
    cursor: not-allowed; }
  .am-input-label {
    height: 32px;
    line-height: 32px; }
  .am-input-small .am-input, .am-input-small .am-input-add-on-before, .am-input-small .am-input-add-on-after, .am-input-small .am-input-label {
    font-size: 12px;
    height: 24px;
    line-height: 24px; }
  .am-input-big .am-input, .am-input-big .am-input-add-on-before, .am-input-big .am-input-add-on-after, .am-input-big .am-input-label {
    height: 48px;
    line-height: 48px;
    font-size: 20px; }
  .am-input-wrapper {
    display: flex; }
  .am-input-label-top {
    flex-direction: column; }
    .am-input-label-top .am-input-label {
      margin-bottom: 8px; }
  .am-input-label-left {
    flex-direction: row; }
    .am-input-label-left .am-input-label {
      margin-right: 8px; }
  .am-input-inputAndError {
    flex: 1; }
    .am-input-inputAndError .am-input-error {
      display: inline-block;
      font-size: 14px;
      line-height: 32px;
      color: #f1453d; }
      .am-input-inputAndError .am-input-error-bottom {
        width: 100%;
        display: block; }
      .am-input-inputAndError .am-input-error-right {
        margin-left: 0.5em; }
    .am-input-inputAndError .am-input-content {
      display: inline-block;
      vertical-align: top; }
    .am-input-inputAndError .am-input-add-on-before, .am-input-inputAndError .am-input-add-on-after {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: top;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      background-color: #fff;
      border: 1px solid #666666; }
    .am-input-inputAndError .am-input-add-on-before {
      border-right: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .am-input-inputAndError .am-input-add-on-after {
      border-left: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
  .am-input-before-or-after {
    position: relative; }
    .am-input-before-or-after .am-input {
      border-radius: 4px; }
      .am-input-before-or-after .am-input:not(:first-child) {
        padding-left: 30px; }
      .am-input-before-or-after .am-input:not(:last-child) {
        padding-right: 30px; }
      .am-input-before-or-after .am-input-before, .am-input-before-or-after .am-input-after {
        position: absolute;
        top: 50%;
        z-index: 2;
        color: #bbb;
        transform: translateY(-50%); }
      .am-input-before-or-after .am-input-before {
        left: 10px; }
      .am-input-before-or-after .am-input-after {
        right: 10px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-radio {
  border: none;
  outline: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }
  .am-radio-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer; }
    .am-radio-wrapper + .am-radio-wrapper {
      margin-left: 1em; }
  .am-radio-input {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 50%; }
    .am-radio-input:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .am-radio-checked .am-radio-input:before {
    background: #6f6f6f; }
  .am-radio-indeterminate:before {
    border: 1px solid #999;
    background: none; }
  .am-radio-disabled {
    cursor: not-allowed;
    opacity: 0.48; }
  .am-radio-label {
    margin-left: 0.5em; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-checkbox {
  border: none;
  outline: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }
  .am-checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer; }
    .am-checkbox-wrapper + .am-checkbox-wrapper {
      margin-left: 1em; }
  .am-checkbox-input {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #999; }
    .am-checkbox-input:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translate(-50%, -50%); }
  .am-checkbox-checked .am-checkbox-input:before {
    background: #6f6f6f; }
  .am-checkbox-indeterminate:before {
    border: 1px solid #999;
    background: none; }
  .am-checkbox-disabled {
    cursor: not-allowed;
    opacity: 0.48; }
  .am-checkbox-label {
    margin-left: 0.5em; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-form-item {
  margin-bottom: 28px;
  font-size: 16px; }

.am-form-item-label-require {
  position: relative; }
  .am-form-item-label-require:before {
    display: inline-block;
    margin-right: 4px;
    color: #f1453d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*'; }

.am-form-item-error {
  color: #f1453d;
  font-size: 0.8em; }

.am-form-vertical {
  position: relative; }
  .am-form-vertical .am-form-item-error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px; }
  .am-form-vertical .am-form-item-label {
    display: block;
    margin-bottom: 4px; }

.am-form-horizontal .am-form-item-error {
  text-align: left;
  line-height: 28px;
  height: 28px; }

.am-form-horizontal .am-form-item-label {
  padding-right: 8px;
  text-align: right; }

.am-form-horizontal .am-form-item-field {
  text-align: left; }

.am-form-inline .am-form-item + .am-form-item {
  margin-left: 16px; }

.am-form-inline .am-form-item,
.am-form-inline .am-form-item-label,
.am-form-inline .am-form-item-input-error,
.am-form-inline .am-input-wrapper {
  display: inline-block;
  vertical-align: middle; }

.am-form-inline .am-form-item-label {
  padding-right: 8px; }

.am-form-inline .am-form-item-input-error {
  position: relative; }
  .am-form-inline .am-form-item-input-error .am-form-item-error {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 4px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-switch {
  display: inline-flex;
  vertical-align: middle;
  width: 40px;
  height: 14px;
  border-radius: 8px;
  background: rgba(51, 51, 51, 0.14);
  cursor: pointer;
  position: relative;
  transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .am-switch-active {
    background: rgba(33, 150, 243, 0.6); }
  .am-switch-disabled {
    opacity: 0.45; }
  .am-switch-core {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    background: #fff;
    transform: translateX(0%);
    transition: all 0.2s linear; }
    .am-switch-core.active {
      background: #40a9ff;
      transform: translateX(100%); }
    .am-switch-core .am-switch-ripple {
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: scale(0);
      pointer-events: none;
      opacity: 1;
      background: inherit; }
      .am-switch-core .am-switch-ripple.active {
        animation: ripple 0.65s ease-out; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-pager-wrapper {
  margin: 10px 0; }

.am-pager-wrapper, .am-pager-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center; }

.am-pager-prev, .am-pager-next, .am-pager-list-item {
  min-width: 32px;
  line-height: 1.8;
  color: #333;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer; }
  .am-pager-prev:not(.am-pager-disabled):hover, .am-pager-next:not(.am-pager-disabled):hover, .am-pager-list-item:not(.am-pager-disabled):hover {
    border-color: #1890ff;
    color: #1890ff; }

.am-pager-split {
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.am-pager-list-item-active {
  color: #1890ff;
  border-color: #1890ff; }

.am-pager-disabled {
  border-color: #bbbbbb;
  color: #a2a2a2;
  cursor: not-allowed; }

.am-pager-quick-jump {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em; }

.am-pager-input-page {
  width: 5em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.am-pager-list-item + .am-pager-list-item {
  margin-left: 0.5em; }

.am-pager-list {
  margin: 0 0.5em; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-tabs-wrapper {
  position: relative; }

.am-tabs-nav-wrapper {
  display: flex;
  margin-bottom: 0;
  margin-left: 0;
  overflow: hidden; }

.am-tabs-nav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  border-bottom: 1px solid #ddd;
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .am-tabs-nav-line {
    position: absolute;
    box-sizing: border-box;
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }

.am-tabs-horizontal .am-tabs-nav-wrapper {
  width: 100%; }

.am-tabs-horizontal .am-tabs-nav-line {
  left: 0;
  bottom: -1px;
  border-right: none;
  border-bottom: 2px solid #1890ff; }

.am-tabs-vertical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }
  .am-tabs-vertical .am-tabs-nav {
    border-bottom: none;
    flex-direction: column;
    border-right: 1px solid #ddd; }
    .am-tabs-vertical .am-tabs-nav-wrapper {
      height: 100%;
      flex-direction: column; }
  .am-tabs-vertical .am-tabs-nav-item {
    text-align: right; }
  .am-tabs-vertical .am-tabs-nav-line {
    top: 0;
    right: -1px;
    border-bottom: none;
    border-right: 2px solid #1890ff; }

.am-tabs-nav-item {
  padding: 12px 16px;
  height: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .am-tabs-nav-item:hover {
    color: #40a9ff; }
  .am-tabs-nav-item + .am-tabs-item {
    margin-left: 10px; }

.am-tabs-active {
  color: #1890ff;
  font-weight: 700; }

.am-tabs-disabled {
  color: #ccc; }
  .am-tabs-disabled:hover {
    color: #ccc; }

.am-tabPane-pane-item {
  padding: 8px;
  display: none; }

.am-tabPane-active {
  display: block; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

[class^='am-'] * {
  box-sizing: border-box; }

[class^='am-'] *::before,
[class^='am-'] *::after {
  box-sizing: border-box; }

[class^='am-'] ul, [class^='am-'] ol {
  list-style: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-dialog-header, .am-dialog-footer {
  padding: 8px 24px; }

.am-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 360px;
  border-radius: 4px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); }
  .am-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99; }
  .am-dialog-close {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    color: #666;
    border-radius: 50%;
    border: 1px solid #eee;
    background: #fff;
    cursor: pointer;
    transition: transform 0.25s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); }
    .am-dialog-close:hover {
      color: #333;
      border-color: #666;
      transform: translate(-50%, 50%) scale(1.3); }
    .am-dialog-close > svg {
      transition: transform 250ms; }
      .am-dialog-close > svg:hover {
        transform: rotate(90deg); }
  .am-dialog-btn-confirm {
    background: #40a9ff;
    border-color: transparent;
    color: #fff; }
    .am-dialog-btn-confirm:hover {
      border-color: transparent;
      background: rgba(64, 169, 255, 0.9); }
  .am-dialog-header {
    line-height: 1.8;
    border-bottom: 1px solid #eee; }
  .am-dialog-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word; }
  .am-dialog-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #eee; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-collapse-wrapper {
  border-top: 1px solid #999; }

.am-collapse-item.active .am-collapse-item-name {
  border-bottom-color: transparent; }

.am-collapse-item.active .am-collapse-item-content {
  display: block; }

.am-collapse-item.disabled .am-collapse-item-name {
  color: #ccc;
  cursor: not-allowed;
  border-bottom-color: #eee; }

.am-collapse-item-name {
  font-size: 16px;
  color: #333;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #999;
  transition: border-bottom-color 0.25s; }
  .am-collapse-item-name .am-icon-animation {
    margin-right: 0.3em;
    transition: transform 0.25s; }
    .am-collapse-item-name .am-icon-animation.active {
      transform: rotate(90deg); }

.am-collapse-item-content {
  display: none;
  transition: all 0.25s;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #999; }
  .am-collapse-item-content .content-inner {
    padding: 4px 0;
    font-size: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

a {
  color: inherit;
  text-decoration: none; }

.am-menu-wrapper {
  display: flex;
  color: #333;
  cursor: default;
  user-select: none;
  border-bottom: 1px solid #eee; }
  .am-menu-wrapper.vertical {
    flex-direction: column;
    border: 1px solid #eee; }

.am-subMenu {
  position: relative; }
  .am-subMenu.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #40a9ff; }
  .am-subMenu.visible .am-icon {
    transform: rotate(-90deg); }
  .am-subMenu.disabled {
    cursor: not-allowed;
    opacity: 0.48; }
  .am-subMenu-label {
    padding: 10px 20px;
    display: block; }
    .am-subMenu-label.active {
      color: #40a9ff; }
  .am-subMenu-icon .am-icon {
    margin-left: .5em;
    transform: rotate(90deg);
    transition: transform .2s; }
  .am-subMenu-popover {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    min-width: 8em;
    font-size: 16px;
    color: #666;
    white-space: nowrap;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background: white;
    z-index: 5;
    display: none;
    transition: all 0.25s; }
    .am-subMenu-popover.vertical {
      position: static;
      box-shadow: none;
      border-radius: 0;
      overflow: hidden; }
    .am-subMenu-popover.visible {
      display: block; }

.am-menuItem {
  padding: 10px 20px;
  position: relative;
  cursor: pointer; }
  .am-menuItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #40a9ff;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .am-menuItem.active {
    color: #40a9ff; }
    .am-menuItem.active:after {
      opacity: 1; }
  .am-menuItem:hover {
    color: #40a9ff; }
  .am-menuItem.disabled {
    cursor: not-allowed;
    opacity: 0.48; }

.am-subMenu .am-menuItem.vertical {
  padding-left: 34px; }

.am-subMenu .am-menuItem.active {
  color: #40a9ff;
  background: rgba(64, 169, 255, 0.1); }
  .am-subMenu .am-menuItem.active:after {
    display: none; }

.am-subMenu .am-subMenu.vertical .am-subMenu-label {
  padding-left: 34px; }

.am-subMenu .am-subMenu.vertical .am-subMenu-popover {
  padding-left: 14px; }

.am-subMenu .am-subMenu .am-subMenu-label.visible .am-icon {
  transform: rotate(180deg); }

.am-subMenu .am-subMenu .am-subMenu-label .am-icon {
  transform: rotate(0deg); }

.am-subMenu .am-subMenu.active:after {
  display: none; }

.am-subMenu .am-subMenu .am-subMenu-popover {
  top: 0;
  left: 100%; }

.am-subMenu .am-subMenu .am-subMenu-label, .am-subMenu.vertical .am-subMenu-label {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.am-subMenu .am-subMenu .am-subMenu-icon, .am-subMenu.vertical .am-subMenu-icon {
  display: inline-flex;
  margin-left: 1em; }

.am-subMenu.vertical .am-subMenu-label.visible > .am-subMenu-icon .am-icon {
  transform: rotate(-90deg); }

.am-subMenu.vertical .am-subMenu-label > .am-subMenu-icon .am-icon {
  transform: rotate(90deg); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

html {
  scroll-behavior: smooth; }

.am-scroll-wrapper {
  position: relative;
  overflow: hidden; }

.am-scroll-inner {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  scrollbar-width: none; }
  .am-scroll-inner::-webkit-scrollbar {
    display: none; }

.am-scroll-pulling-up, .am-scroll-pulling-down {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.25s cubic-bezier(0, 1, 0.3, 1);
  font-size: 22px; }

.am-scroll-pulling-down {
  top: 0; }

.am-scroll-pulling-up {
  bottom: 0; }

.am-scroll-pulling-text {
  color: #666;
  font-size: 14px;
  margin-left: .5em; }

.am-scroll-track {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%; }

.am-scroll-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  background: rgba(128, 128, 128, 0.8);
  border-radius: 3px; }

@keyframes carousel-f2c {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes carousel-c2f {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@keyframes carousel-b2c {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes carousel-c2b {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

@keyframes carousel-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes carousel-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-carousel-wrapper {
  position: relative; }

.am-carousel-view {
  position: relative;
  overflow: hidden; }

.am-carousel-slide.am-carousel-forward .am-carouselitem-current {
  animation: carousel-f2c .4s ease-in-out; }

.am-carousel-slide.am-carousel-forward .am-carouselitem-prev {
  animation: carousel-c2b .4s ease-in-out; }

.am-carousel-slide.am-carousel-backward .am-carouselitem-current {
  animation: carousel-b2c .4s ease-in-out; }

.am-carousel-slide.am-carousel-backward .am-carouselitem-prev {
  animation: carousel-c2f .4s ease-in-out; }

.am-carousel-fade.am-carousel-forward .am-carouselitem-current, .am-carousel-fade.am-carousel-backward .am-carouselitem-current {
  animation: carousel-fade-in .4s ease-in-out; }

.am-carousel-dots {
  position: absolute;
  display: flex;
  z-index: 11; }
  .am-carousel-dots .dot.style-circle {
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff; }
    .am-carousel-dots .dot.style-circle.active {
      background: #fff; }
  .am-carousel-dots .dot.style-number {
    width: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff; }
    .am-carousel-dots .dot.style-number.active {
      background: rgba(0, 0, 0, 0.3); }
  .am-carousel-dots.position-top {
    width: 100%;
    top: 4%;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%); }
    .am-carousel-dots.position-top .style-circle, .am-carousel-dots.position-top .style-number {
      margin-left: 4px;
      margin-right: 4px; }
  .am-carousel-dots.position-left {
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column; }
    .am-carousel-dots.position-left .style-circle, .am-carousel-dots.position-left .style-number {
      margin-bottom: 8px; }
  .am-carousel-dots.position-right {
    left: 98%;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column; }
    .am-carousel-dots.position-right .style-circle, .am-carousel-dots.position-right .style-number {
      margin-bottom: 8px; }
    .am-carousel-dots.position-right .style-number {
      margin-right: 8px; }
    .am-carousel-dots.position-right.style-number {
      left: 97.2%; }
  .am-carousel-dots.position-bottom {
    width: 100%;
    left: 50%;
    bottom: 4%;
    justify-content: center;
    transform: translateX(-50%); }
    .am-carousel-dots.position-bottom .style-circle, .am-carousel-dots.position-bottom .style-number {
      margin-left: 4px;
      margin-right: 4px; }

.am-carouselitem {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .am-carouselitem > * {
    width: 100%;
    height: 100%; }
  .am-carouselitem-current {
    z-index: 10; }
  .am-carouselitem-prev {
    z-index: 9; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-click-outside {
  display: inline-block;
  vertical-align: top; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-popover {
  display: inline-block;
  vertical-align: top; }
  .am-popover, .am-popover-trigger {
    display: inline-block;
    vertical-align: top; }
  .am-popover-block, .am-popover-block .am-popover-trigger {
    display: block; }
  .am-popover-content {
    position: absolute;
    top: -9999;
    left: -9999;
    min-width: 4em;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.6));
    border: 1px solid #999;
    z-index: 10; }
    .am-popover-content-string {
      display: inline-block;
      padding: 4px 8px; }
    .am-popover-content:before, .am-popover-content:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-color: transparent; }
    .am-popover-content:before {
      border-width: 5px; }
    .am-popover-content:after {
      border-width: 4px; }
    .am-popover-content-top:before, .am-popover-content-topLeft:before, .am-popover-content-topRight:before {
      border-top-color: #999; }
    .am-popover-content-top:after, .am-popover-content-topLeft:after, .am-popover-content-topRight:after {
      border-top-color: #fff; }
    .am-popover-content-top:before, .am-popover-content-top:after {
      top: 100%;
      left: 50%; }
    .am-popover-content-top:before {
      margin-left: -5px; }
    .am-popover-content-top:after {
      margin-left: -4px; }
    .am-popover-content-topLeft:before, .am-popover-content-topLeft:after {
      top: 100%;
      left: 8px; }
    .am-popover-content-topLeft:after {
      left: 9px; }
    .am-popover-content-topRight:before, .am-popover-content-topRight:after {
      top: 100%;
      right: 8px; }
    .am-popover-content-topRight:after {
      right: 9px; }
    .am-popover-content-bottom:before, .am-popover-content-bottomLeft:before, .am-popover-content-bottomRight:before {
      border-bottom-color: #999; }
    .am-popover-content-bottom:after, .am-popover-content-bottomLeft:after, .am-popover-content-bottomRight:after {
      border-bottom-color: #fff; }
    .am-popover-content-bottom:before, .am-popover-content-bottom:after {
      bottom: 100%;
      left: 50%; }
    .am-popover-content-bottom:before {
      margin-left: -5px; }
    .am-popover-content-bottom:after {
      margin-left: -4px; }
    .am-popover-content-bottomLeft:before, .am-popover-content-bottomLeft:after {
      bottom: 100%;
      left: 8px; }
    .am-popover-content-bottomLeft:after {
      left: 9px; }
    .am-popover-content-bottomRight:before, .am-popover-content-bottomRight:after {
      bottom: 100%;
      right: 8px; }
    .am-popover-content-bottomRight:after {
      right: 9px; }
    .am-popover-content-left:before, .am-popover-content-leftTop:before, .am-popover-content-leftBottom:before {
      border-left-color: #999; }
    .am-popover-content-left:after, .am-popover-content-leftTop:after, .am-popover-content-leftBottom:after {
      border-left-color: #fff; }
    .am-popover-content-leftTop:before, .am-popover-content-leftTop:after {
      left: 100%;
      top: 8px; }
    .am-popover-content-leftTop:after {
      top: 9px; }
    .am-popover-content-leftBottom:before, .am-popover-content-leftBottom:after {
      left: 100%;
      bottom: 8px; }
    .am-popover-content-leftBottom:after {
      bottom: 9px; }
    .am-popover-content-right:before, .am-popover-content-rightTop:before, .am-popover-content-rightBottom:before {
      border-right-color: #999; }
    .am-popover-content-right:after, .am-popover-content-rightTop:after, .am-popover-content-rightBottom:after {
      border-right-color: #fff; }
    .am-popover-content-rightTop:before, .am-popover-content-rightTop:after {
      right: 100%;
      top: 8px; }
    .am-popover-content-rightTop:after {
      top: 9px; }
    .am-popover-content-rightBottom:before, .am-popover-content-rightBottom:after {
      right: 100%;
      bottom: 8px; }
    .am-popover-content-rightBottom:after {
      bottom: 9px; }
    .am-popover-content-left:before {
      margin-top: -5px;
      border-left-color: #999; }
    .am-popover-content-left:after {
      margin-top: -4px;
      border-left-color: #fff; }
    .am-popover-content-left:before, .am-popover-content-left:after {
      left: 100%;
      top: 50%; }
    .am-popover-content-right:before {
      margin-top: -5px;
      border-right-color: #999; }
    .am-popover-content-right:after {
      margin-top: -4px;
      border-right-color: #fff; }
    .am-popover-content-right:before, .am-popover-content-right:after {
      right: 100%;
      top: 50%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

table {
  width: 100%;
  text-align: center; }
  table td, table th {
    font-size: 14px; }
  table th {
    font-weight: normal;
    padding: 6px 0; }
  table td {
    cursor: pointer; }

.am-datePicker-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  padding: 0 8px;
  border-bottom: 1px solid #eee; }
  .am-datePicker-nav .am-datePicker-col > svg, .am-datePicker-nav .am-datePicker-col > span {
    cursor: pointer; }

.am-datePicker-main {
  padding: 0 12px; }

.am-datePicker {
  margin: 20px; }
  .am-datePicker-body {
    min-width: 16em;
    min-height: 300px; }
  .am-datePicker-disabled input, .am-datePicker-disabled input:hover, .am-datePicker-disabled input:focus {
    color: #ccc;
    cursor: not-allowed;
    border-color: #eee; }

.am-dayPanel-main table .am-dayPanel-day {
  color: #999; }

.am-dayPanel-main table .am-dayPanel-currentMonth {
  color: #333; }

.am-dayPanel-main table .am-dayPanel-isSame .am-dayPanel-cell {
  background: #d9eeff;
  border-color: #d9eeff; }

.am-dayPanel-main table .am-dayPanel-isToday .am-dayPanel-cell {
  color: #40a9ff;
  border: 1px solid #40a9ff;
  background: #fff; }

.am-dayPanel-main table .am-dayPanel-selected .am-dayPanel-cell {
  color: #fff;
  background: #40a9ff;
  border-color: #40a9ff; }

.am-dayPanel-main table .am-dayPanel-cell {
  width: 28px;
  line-height: 26px;
  margin: auto;
  border: 1px solid transparent; }
  .am-dayPanel-main table .am-dayPanel-cell:hover {
    background: #d9eeff;
    border-color: #d9eeff; }

.am-dayPanel-actions {
  padding: 8px;
  text-align: center;
  color: #40a9ff;
  border-top: 1px solid #eee;
  cursor: pointer; }

.am-monthPanel-main table tr > td {
  padding: 16px 0; }

.am-monthPanel-main table .am-monthPanel-month {
  color: #333; }

.am-monthPanel-main table .am-monthPanel-month-selected .am-monthPanel-cell {
  color: #fff;
  background: #40a9ff; }

.am-monthPanel-main table .am-monthPanel-cell {
  width: 56px;
  line-height: 28px;
  margin: auto; }

.am-yearPanel-main table tr > td {
  padding: 16px 0; }

.am-yearPanel-main table .am-yearPanel-year {
  color: #333; }

.am-yearPanel-main table .am-yearPanel-firstOrLastYear {
  color: #999; }

.am-yearPanel-main table .am-yearPanel-year-selected .am-yearPanel-cell {
  color: #fff;
  background: #40a9ff; }

.am-yearPanel-main table .am-yearPanel-cell {
  width: 56px;
  line-height: 28px;
  margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-uploader-content {
  position: relative;
  display: inline-block; }
  .am-uploader-content input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; }

.am-uploader-file-list {
  list-style: none; }
  .am-uploader-file-list > li {
    margin: 8px 0;
    padding: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #d5d5d5;
    border-radius: 4px; }

.am-uploader-placeholder-img {
  color: #40a9ff; }

.am-uploader-placeholder-img, .am-uploader-defaultImage, .am-uploader-preview {
  width: 48px;
  height: 48px;
  margin-right: 8px; }

.am-uploader-preview {
  border: none; }

.am-uploader-name {
  margin-right: auto; }

.am-uploader-remove {
  font-size: 20px; }

.am-uploader-fail {
  color: #f1453d; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-checkbox-wrapper {
  padding-left: 1.5em; }

.am-treeItem {
  line-height: 1.5;
  border: 1px solid; }
  .am-treeItem-text {
    display: block;
    position: relative; }
    .am-treeItem-text:hover {
      background: yellow; }
  .am-treeItem-children {
    overflow: hidden;
    transition: height .2s; }
  .am-treeItem-gone {
    height: 0; }
  .am-treeItem-expand {
    margin-right: .5em;
    position: absolute;
    left: 0;
    top: 0; }
    .am-treeItem-expand-icon {
      transform: rotate(90deg);
      transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .am-treeItem-collapsed .am-treeItem-expand-icon {
    transform: rotate(0deg); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

.am-message-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 16px;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.3s ease; }
  .am-message-wrapper > span {
    display: inline-block; }

.am-message-icon-type {
  margin-right: 4px;
  font-size: 20px; }

.am-message-info {
  color: #67c23a; }

.am-message-error {
  color: #f1453d; }

.am-message-loading, .am-message-success {
  color: #40a9ff; }

.am-message-warning {
  color: #faad14; }

.am-message-close {
  position: relative;
  left: 10px;
  cursor: pointer; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0; } }

* {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  text-decoration: none;
  color: black; }

body {
  overflow-x: hidden;
  color: #314659;
  font-size: 16px;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1); }

.site-doc-wrapper {
  min-height: 100vh; }

.site-doc-header {
  display: flex;
  padding: 4px 48px;
  align-items: center;
  background: #fdf9f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  position: relative; }

.site-doc-logo-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #333; }
  .site-doc-logo-github .logo {
    height: 75px; }

.site-doc-body {
  margin: 24px auto;
  max-width: 1280px;
  min-height: calc(100vh - 184px);
  display: flex; }

.site-doc-aside {
  min-width: 15em;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #bababa; }
  .site-doc-aside h2 {
    margin: 0.5em 0 0.2em;
    padding-left: 0.5em;
    color: rgba(0, 0, 0, 0.45);
    font-size: 18px; }
  .site-doc-aside > ol {
    flex-shrink: 0; }
    .site-doc-aside > ol li {
      line-height: 40px;
      font-size: 14px;
      color: #314659; }
      .site-doc-aside > ol li a {
        display: block;
        padding-left: 1.5em;
        color: #314659; }
        .site-doc-aside > ol li a.active {
          background: #cfd7ff; }
        .site-doc-aside > ol li a:hover {
          color: #1890ff; }

.site-doc-main {
  margin-left: 20px;
  flex: 1; }
  .site-doc-main h2 {
    margin: 1em 0; }
  .site-doc-main h3 {
    font-size: 18px;
    padding: 10px 0; }

.site-doc-footer {
  line-height: 50px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5; }
  .site-doc-footer a {
    color: #1890ff; }

@media (max-width: 750px) {
  .site-doc-header {
    padding: 10px; }
    .site-doc-header img {
      display: none; }
  .site-doc-body {
    margin: 24px 8px;
    flex-direction: column;
    min-height: calc(100vh - 145px); }
  .site-doc-menu-icon .menu-icon-line {
    position: relative;
    display: block;
    margin: 10px 0; }
    .site-doc-menu-icon .menu-icon-line, .site-doc-menu-icon .menu-icon-line:before, .site-doc-menu-icon .menu-icon-line:after {
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: #0a0a0a; }
    .site-doc-menu-icon .menu-icon-line:before, .site-doc-menu-icon .menu-icon-line:after {
      content: '';
      position: absolute; }
    .site-doc-menu-icon .menu-icon-line:before {
      top: -6px; }
    .site-doc-menu-icon .menu-icon-line:after {
      top: 6px; }
  .site-doc-logo-github {
    margin-left: 10px; }
  .site-doc-aside-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3D(-100%, 0, 0);
    z-index: 9999;
    transition: transform 0.3s; }
    .site-doc-aside-wrapper.active {
      transform: translate3D(0, 0, 0); }
  .site-doc-aside {
    width: 280px;
    background: #fff;
    position: relative;
    z-index: 5;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 0; }
  .site-doc-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    background: rgba(0, 0, 0, 0.5); }
  .site-doc-main {
    margin-left: 0; } }

.exp-section {
  padding: 10px 20px 0;
  border-radius: 4px;
  background: white;
  border: 1px solid #d6d6d6;
  box-shadow: 1px 1px 0px #bababa;
  overflow-x: auto; }
  .exp-section p {
    padding-bottom: 10px; }
  .exp-section + .exp-section {
    margin-top: 20px;
    font-size: 15px; }

.exp-section-btn {
  background: #66e2d5;
  border-color: #000;
  color: #000; }
  .exp-section-btn:hover {
    border-color: #000;
    background: rgba(102, 226, 213, 0.9); }

.exp-section .custom {
  color: #e10050;
  border: 1px solid rgba(225, 0, 80, 0.5); }
  .exp-section .custom .ripple {
    background: #e10050; }

.exp-section .custom-desk {
  border: none; }
  .exp-section .custom-desk .am-collapse-item {
    background: #f7f7f7;
    margin-bottom: 20px; }
    .exp-section .custom-desk .am-collapse-item-name {
      border: none;
      padding-left: 10px;
      color: #66e2d5; }
  .exp-section .custom-desk .am-collapse-item-content {
    background: #f7f7f7; }
    .exp-section .custom-desk .am-collapse-item-content .content-inner {
      padding-left: 26px;
      font-size: 18px; }

.exp-section .custom-grid .am-row {
  font-size: 16px;
  color: #fff;
  text-align: center; }
  .exp-section .custom-grid .am-row > div:not(.am-col-row-gutter) {
    background: rgba(78, 87, 239, 0.8);
    padding: 16px 0; }
    .exp-section .custom-grid .am-row > div:not(.am-col-row-gutter):nth-child(2n + 1) {
      background: #cfd7ff; }
  .exp-section .custom-grid .am-row + .am-row {
    margin-top: 14px; }
  .exp-section .custom-grid .am-row > .am-col-gutter > div {
    background: rgba(78, 87, 239, 0.8);
    padding: 16px 0; }

.exp-section .custom-layout {
  height: 400px;
  font-size: 16px;
  color: #fff;
  text-align: center; }
  .exp-section .custom-layout .am-header,
  .exp-section .custom-layout .am-footer {
    padding: 16px 0;
    background: #cfd7ff; }
  .exp-section .custom-layout .am-main {
    background: rgba(78, 87, 239, 0.8); }
  .exp-section .custom-layout .am-aside {
    padding: 16px;
    background: #ddd; }

.exp-section .custom-input .am-input-wrapper + .am-input-wrapper {
  margin-top: 14px; }

.exp-section .custom-input-search + .am-input-after {
  background: #66e2d5; }

.exp-box.custom-icon .am-icon {
  font-size: 28px; }

.code-box {
  color: #666;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8; }
  .code-box .code-title {
    display: flex;
    align-items: center;
    color: #1890ff;
    font-size: 16px;
    cursor: pointer; }
  .code-box .am-icon {
    font-size: 30px;
    margin-right: 6px; }

.markdown-content {
  overflow-x: auto; }
  .markdown-content table {
    line-height: 1.5;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    border-spacing: 0; }
    .markdown-content table th, .markdown-content table td {
      text-align: left;
      padding: 12px;
      color: #5c6b77;
      border-bottom: 1px solid #e8e8e8; }
    .markdown-content table th {
      padding-top: 14px;
      border-width: 0 0 2px 0;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02); }
    .markdown-content table tbody tr {
      transition: all .3s; }
      .markdown-content table tbody tr:hover {
        background: rgba(60, 90, 100, 0.04); }
    .markdown-content table tbody td:first-child {
      width: 20%;
      color: #595959;
      font-weight: 600; }
    .markdown-content table tbody td:nth-child(3) {
      width: 22%;
      color: #c41d7f;
      font-size: 13px;
      word-break: break-all; }
    .markdown-content table tbody td:nth-child(4) {
      width: 16%;
      font-size: 13px; }
  .markdown-content p {
    font-size: 16px; }

