@import 'var';
a {
  color: inherit;
  text-decoration: none;
}
#{component(menu)} {
  &-wrapper {
    display: flex;
    color: $color;
    cursor: default;
    user-select: none;
    border-bottom: 1px solid $gray;
    &.vertical {
      flex-direction: column;
      border: 1px solid $gray;
    }
  }
}
#{component(subMenu )} {
  position: relative;
  &.active {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $blue;
    }
  }
  &.visible {
    .am-icon {
      transform: rotate(-90deg);
    }
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.48;
  }
  &-label {
    padding: 10px 20px;
    display: block;
    &.active {
      color: $blue;
    }
  }
  &-icon {
    .am-icon {
      margin-left: .5em;
      transform: rotate(90deg);
      transition: transform .2s;
    }
  }
  &-popover {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    min-width: 8em;
    font-size: $font-size;
    color: $light-color;
    white-space: nowrap;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: $border-radius;
    background: white;
    z-index: 5;
    display: none;
    transition: all 0.25s;
    &.vertical {
      position: static;
      box-shadow: none;
      border-radius: 0;
      overflow: hidden;
    }
    &.visible {display: block;}
  }
}
#{component(menuItem )} {
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $blue;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &.active {
    color: $blue;
    &:after {
      opacity: 1;
    }
  }
  &:hover {
    color: $blue;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.48;
  }
}
#{component(subMenu )} {
  .am-menuItem {
    &.vertical {
      padding-left: 34px;
    }
    &.active {
      color: $blue;
      background: rgba($blue, .1);
      &:after {
        display: none;
      }
    }
  }
  .am-subMenu {
    &.vertical {
      .am-subMenu-label {
        padding-left: 34px;
      }
      .am-subMenu-popover {
        padding-left: 14px;
      }
    }
    //水平样式
    .am-subMenu-label {
      &.visible {
        .am-icon {
          transform: rotate(180deg);
        }
      }
      .am-icon {
        transform: rotate(0deg);
      }
    }
    &.active {
      &:after {
        display: none;
      }
    }
    .am-subMenu-popover {
      top: 0;
      left: 100%;
    }
  }
  //垂直布局时样式
  & .am-subMenu,
  &.vertical {
    .am-subMenu-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .am-subMenu-icon {
      display: inline-flex;
      margin-left: 1em;
    }
  }
  &.vertical {
    .am-subMenu-label {
      &.visible {
        > .am-subMenu-icon {
          .am-icon {
            transform: rotate(-90deg);
          }
        }
      }
      > .am-subMenu-icon {
        .am-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}
