.am-button.custom {
  color: rgb(225, 0, 80);
  border-color: rgba(225, 0, 80, 0.5);
  > .ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    opacity: 1;
    &.active {
      background: rgb(225, 0, 80);
    }
  }
  &:hover {
    border: 1px solid rgb(225, 0, 80);
    background-color: rgba(225, 0, 80, 0.08);
  }
}
