* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.85);
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
}

h4 {
  font-size: 14px;
  line-height: 22px;
}

a {
  text-decoration: none;
  color: #1890ff;
}

p {
  margin: 14px 0;
  line-height: 2em;
}

img {
  vertical-align: top;
  border: none;
}

.app {
  margin: 20px;
  width: 800px;
}
.am-button.custom {
  color: rgb(225, 0, 80);
  border-color: rgba(225, 0, 80, 0.5);
  > .ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    opacity: 1;
    &.active {
      background: rgb(225, 0, 80);
    }
  }
  &:hover {
    border: 1px solid rgb(225, 0, 80);
    background-color: rgba(225, 0, 80, 0.08);
  }
}
.am-row {
  margin: 10px 0;
}
.labels {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 1200px;
  > div {
    flex: 1;
  }
  > div + div {
    margin-left: 30px;
  }
}
